div#layout_body {
}
div.spreader {
}
#layout_results {
    display: inline-block;
}

.ticket .direction button{
	display: none;
}

.multivariants .akPlate .logo {
    background: none;
    height:1px;
}

.ReturnToResult .return {
  display: none;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 16px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.multivariants .simpleVariants .variant_direction{
  width:450px;
}
.multivariants table tr td {
    border: medium none;
    padding: 7px 10px 5px 25px;
    vertical-align: top;
}
.multivariants .optTime{
  width:110px;
}
.multivariants .stat_info .opt1{
	width:90px;
}
.multivariants .opt2{
	width:55px;
}
.multivariants .opt3{
	width:55px;
}
.multivariants .opt4{
  width:110px;
}
.multivariants .simpleVariants td.cellButton{
  width:105px;
  padding:0 10px;
}
.FlightTicket.multivariants .table_header .leftIndent{
  padding-left:120px;
}
#popup_passengerSelect .ConfirmInfoFlight .akPlate span.dashed{
	padding:23px 0;
	border:none;
	color:white;
	text-decoration: underline;
}
#popup_passengerSelect .close_button{
	right:-12px;
}
#popup_passengerSelect{
	position: relative;
	width:820px;
	margin:50px 100px;
}
#popup_passengerSelect .simpleVariants tr.single td{
	width:800px;
}
#popup_passengerSelect .simpleVariants tr.single .opt2{
	width:190px;
}
#popup_passengerSelect .simpleVariants tr.single .opt3{
	width:190px;
}
#popup_passengerSelect .simpleVariants tr.single .opt4{
  width:190px;
}


.FlightTicket.multivariants .simpleVariants tr.single .m_row_item .opt2{
  width:190px;
}
.FlightTicket.multivariants .simpleVariants tr.single .m_row_item .opt3{
  width:190px;
}
.FlightTicket.multivariants .simpleVariants tr.single .m_row_item .opt4{
  width:190px;
}
.FlightTicket.multivariants .simpleVariants tr.single .m_row_item .TripsStars{
  display: none;
}

.ticket .trip .directionTitle .TripStars{
  display: none;
}

.ticket .directionBody table col.place{
  width:120px;
}
.ticket .directionBody table col.departure{
  width:70px;
}
.ticket .directionBody table col.arrival{
  width:70px;
}
.ticket .directionBody table col.cs{
  width:90px;
}
.multivariants .simpleVariants tr.noBkg{
  background:#008cd4;
}
.multivariants .simpleVariants tr.noBkg td.cellButton{
  background:#008cd4;
}
.multivariants .simpleVariants tr.noBkg td:first-child{
  background:#008cd4 url("/i/modalVarHeadBg.jpg") no-repeat scroll right top;
}