.FilterResult ul{
    margin: 0;
}

.FlightTicket.mini{
    color: #4B4B4B;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    width: 248px;
    background-color: #F7F9FB;
    border: 1px solid #DDD;
}

.pf_AKname{
    font-family: 'PFAgoraSansPro-Light';
    font-size: 21px;
    color: #5A5A5A;
    padding: 15px 0 4px 18px;
}

.StarsInformation{
    padding-top: 0px;
}

.star, .halfstar, .emptystar, .graystar, .halfgraystar {
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 8px;
}

.star {
    background: url('http://www.onetwotrip.com/images/stars/Star_u0859.png') repeat-x;
}
.halfstar {
    background: url('http://www.onetwotrip.com/images/stars/HalfStar_u0859.png') no-repeat;
}
.emptystar {
    background: url('http://www.onetwotrip.com/images/stars/EmptyStar_u0859.png') repeat-x;
}

.pf_bottom .content {
    padding: 6px 18px 10px;
}
.pf_puller {
    border-top: 2px dotted #DDD;
}
.stars_block {
    display: block;
}


.StartTime {
    
}
.mini .StartTime {
    font-size: 13px;
    color: #1D1D1D;
}
.FlightTicket .bold {
    font-size: 13px;
    color: #1D1D1D;
}
.FlightTicket .nowrap {
    font-size: 13px;
    color: #1D1D1D;
}
.FlightTicket .pf_stops, .FlightTicket .pf_stops .nowrap {
    font-size: 10px;
    color: #F15A22;
}
.FlightTicket .showTripInfo {
    text-decoration: underline;
    cursor: pointer;
    color: #0f9dec;
}

.pf_bottom table {
    border-collapse: collapse;
    width: 100%;
}
.pf_bottom .info_time {
    float: right;
    text-align: right;
    white-space: nowrap;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.pf_button{
    margin: 5px 18px 10px; 
}
.pf_button .showAKvariants span{
    color: #0F9DEC;
    text-decoration: underline;
}
.pf_button .showAKvariants span:hover{
    color: #0A6DA4;
}

.pf_button .price_button{
    border: none;
    background: none;
    float: right;
    padding: 0;
    margin-top: -18px;
}
.pf_button .price_button .price_wrapper{
    font-family: 'AAvanteTitlerCpsUpCBold';
    font-size: 22px;
    color: #F15A22;
}