.invisible{
    display: none !important;
}
.disnone{
    display: none !important;
}

.tooltip{
    display: none !important;
}


.FilterResult ul{
    margin: 0;
    list-style: none;
}



.pf_AKname{
    font-family: 'PFAgoraSansPro-Light';
    font-size: 21px;
    color: #5A5A5A;
    padding: 15px 0 4px 18px;
}

.StarsInformation{
    padding-top: 0px;
}

.star, .halfstar, .emptystar, .graystar, .halfgraystar {
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 8px;
}

.star {
    background: url('/images/stars/Star_u0859.png') repeat-x;
}
.halfstar {
    background: url('/images/stars/HalfStar_u0859.png') no-repeat;
}
.emptystar {
    background: url('/images/stars/EmptyStar_u0859.png') repeat-x;
}

.ResultTickets .pf_bottom .content {
    padding: 6px 18px 10px;
}
.ResultTickets .pf_puller {
    border-top: 2px dotted #DDD;
}
.stars_block {
    display: block;
}


.StartTime {
    
}


.ResultTickets .FlightTicket{
    color: #4B4B4B;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0px;
    background-color: #F7F9FB;
    border: 1px solid #DDD;
}
.ResultTickets .FlightTicket.mini{
    color: #4B4B4B;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    width: 248px;
    background-color: #F7F9FB;
    border: 1px solid #DDD;
}
.ResultTickets .FlightTicket.mini .logo{
    height: 100px;
    width: 200px;
    background-color: red;
    display: none;
}

.ResultTickets .FlightTicket .StartTime {
    font-size: 18px;
    color: #4b4b4b;
}
.ResultTickets .FlightTicket .bold {
    font-size: 18px;
    color: #4b4b4b;
}
.ResultTickets .FlightTicket .nowrap {
    font-size: 18px;
    color: #4b4b4b;
}
.ResultTickets .FlightTicket .DirectionPoint .nowrap {
    font-size: 12px;
    color: #4b4b4b;
}
.ResultTickets .FlightTicket .DirectionPoint {
    padding: 4px 0;
}
.ResultTickets .FlightTicket .pf_stops, .ResultTickets .FlightTicket .pf_stops .nowrap {
    font-size: 12px;
    color: #F15A22;
    padding: 4px 0;
}
.ResultTickets .FlightTicket .showTripInfo {
    text-decoration: underline;
    cursor: pointer;
    color: #0f9dec;
}
.ResultTickets .FlightTicket .pf_bottom table {
    border-collapse: collapse;
    width: 100%;
}
.ResultTickets .FlightTicket .pf_bottom table div{
    padding: 4px 0;
}
.ResultTickets .FlightTicket .pf_bottom .info_time {
    float: right;
    text-align: right;
    white-space: nowrap;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ResultTickets .FlightTicket .pf_button{
    margin: 11px 18px 17px; 
    height: 15px;
}
.ResultTickets .FlightTicket .pf_button .showAKvariants{
    float: left; 
}
.ResultTickets .FlightTicket .pf_button .showAKvariants span{
    color: #0F9DEC;
    text-decoration: underline;
    cursor: pointer;
}
.ResultTickets .FlightTicket .pf_button .showAKvariants span:hover{
    color: #0A6DA4;
}
.ResultTickets .FlightTicket .pf_button .price_button{
    border: none;
    background: none;
    float: right;
    padding: 0;
    height: 30px;
    margin-top: -6px;
}
.ResultTickets .FlightTicket .pf_button .price_button .price_wrapper{
    font-family: 'AAvanteTitlerCpsUpCBold';
    font-size: 32px;
    color: #F15A22;
}
.ResultTickets .FlightTicket .commoner{
    padding: 4px 0;
}


.ResultTickets .FlightTicket.mini .StartTime {
    font-size: 13px;
    color: #1D1D1D;
}
.ResultTickets .FlightTicket.mini .bold {
    font-size: 13px;
    color: #1D1D1D;
}
.ResultTickets .FlightTicket.mini .nowrap {
    font-size: 13px;
    color: #1D1D1D;
}
.ResultTickets .FlightTicket.mini .pf_stops .nowrap{
    width: 130px;
    overflow: hidden;
    height: 16px;
}
.ResultTickets .FlightTicket.mini .pf_stops, .ResultTickets .FlightTicket.mini .pf_stops .nowrap {
    font-size: 10px;
    color: #F15A22;
}
.ResultTickets .FlightTicket.mini .showTripInfo {
    text-decoration: underline;
    cursor: pointer;
    color: #0f9dec;
}
.ResultTickets .FlightTicket.mini .pf_bottom table {
    border-collapse: collapse;
    width: 100%;
}
.ResultTickets .FlightTicket.mini .pf_bottom .info_time {
    float: right;
    text-align: right;
    white-space: nowrap;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ResultTickets .FlightTicket.mini .pf_button{
    margin: 5px 18px 10px; 
}
.ResultTickets .FlightTicket.mini .pf_button .showAKvariants span{
    color: #0F9DEC;
    text-decoration: underline;
    cursor: pointer;
}
.ResultTickets .FlightTicket.mini .pf_button .showAKvariants span:hover{
    color: #0A6DA4;
}

.ResultTickets .FlightTicket.mini .pf_button .price_button{
    border: none;
    background: none;
    float: right;
    padding: 0;
    margin-top: -6px;
}
.ResultTickets .FlightTicket.mini .pf_button .price_button .price_wrapper{
    font-family: 'AAvanteTitlerCpsUpCBold';
    font-size: 22px;
    color: #F15A22;
}
.ResultTickets .FlightTicket.mini .commoner{
    padding: 4px 0;
}
.ResultTickets .FlightTicket.mini .moment-flower{
    width: 150px;
}
.ResultTickets .FlightTicket.mini .shadow{
    width: 150px;
}


#preferedBlock h2 {
    background: #F15A22;
    color: #FFF;
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    font-family: 'PFAgoraSansPro-Bold';
    text-transform: uppercase;
}
#preferedBlock h2.blue {
    background: #0F9DEC;
}

#preferedBlock{
    width: 760px;
}
#preferedBlock .FlightTicket {
    width: 378px;
}

.ResultTable{
    width: 100%;
}

#FirstPrefered, #SecondPrefered{
    width: 380px !important;
    margin: 0 0 10px 10px;
}

.ResultTableWrapper table td{
    padding: 0;
   /* width: 380px;  */
    vertical-align: top;
}



.selectors {
    margin-left: 30px;
    width: 980px;
}


aside article.side .inn .direction_option {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
aside article.side .inn .direction_option ul{
    list-style: none;
    margin: 15px 0px 10px 5px;
}
aside article.side .inn .direction_option ul label{
    display: inline;
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 0 0 0 10px;
    line-height: 25px;
}
aside article.side .inn .direction_option ul label.inline{
    padding: 0;
}


aside article.side .inn .fl1 {
    background: url(../i/fl1.png) no-repeat bottom;
    cursor: pointer;
}
aside article.side .inn .fl1.active {
    background: url(../i/fl1.png) no-repeat top;
    cursor: initial;
}
aside article.side .inn .fl2 {
    background: url(../i/fl2.png) no-repeat bottom;
    cursor: pointer;
}
aside article.side .inn .fl2.active {
    background: url(../i/fl2.png) no-repeat top;
    cursor: initial;
}

.ui-slider-range {
    border-radius: 6px;
}


.FlightFilter input[type="radio"], .FlightFilter input[type="checkbox"] {
    margin: 0px;
    line-height: normal;
}

.direction_option .option_row {
    position: relative;
    line-height: 1.5;
}
.direction_option .direction_item.short {
    width: 100px;
}
.direction_option .direction_item {
    position: relative;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.99;
}



div#topPanel2 {
    z-index: 2;
    position: relative;
    padding: 0;
    min-height: 35px;
    text-align: left;
    background: none;
    margin: 0;
}




.suggestField input {
    z-index: 6;
    position: relative;
    display: block;
    background: none;
}
.suggestField input[readonly] {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    color: #C0C0C0;
}


#tongueSpreader{
    z-index: 3;
}
#topPanel2spreader{
    z-index: 4;
}




section .mainSearch .well .input-append .btn{
    height: 32px;
    width: 37px;  
}
.suggestField .calendarButton {
    z-index: 7;
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    
    line-height: 32px;
    padding: 8px 10px;
    
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
            

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0996e2;
  background-image: -moz-linear-gradient(top, #0f9dec, #008cd4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f9dec), to(#008cd4));
  background-image: -webkit-linear-gradient(top, #0f9dec, #008cd4);
  background-image: -o-linear-gradient(top, #0f9dec, #008cd4);
  background-image: linear-gradient(to bottom, #0f9dec, #008cd4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f9dec', endColorstr='#ff008cd4', GradientType=0);
  border-color: #008cd4 #008cd4 #005988;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #008cd4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.suggestField .calendarButton div.lineSpreader {
    display: none;
}
.suggestField .calendarButton div.text {
    font-size: 21px;
    line-height: 14px;
    padding-top: 3px;
    text-align: center;
}
.suggestField .calendarButton div.month {
    font-size: 14px;
    text-align: center;
}

section .mainSearch .well .input-append input {
    /*width: 205px;
    padding-right: 50px;
    background: #FFF;*/
}

section .mainSearch .well .input-append input {
    width: 249px;
    background: #FFF;
}
.input-append input, .input-append select, .input-append .uneditable-input {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

aside article.side .inn .slider.sliderType2 .ui-slider-handle {
    cursor: pointer;   
}


#layout_recentSearches{
    position: absolute;
    padding: 10px;
    margin: 30px 0 0 0;
    background: #f2f2f4;
    width: 98%;
}
#recentSearches{
    list-style: none;
    margin: 0;
}
#recentSearches li{
    display: inline;
    padding: 0 20px 0 0;
}




.loader { z-index:5; position: relative; width: 189px; height: 186px; margin: 100px auto 0; }
.loader div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.loader .l_background { z-index: 1; background: none; width: 189px; height: 186px; display: none; }
.loader .l_shadow { z-index: 2; background: none; width: 189px; height: 186px; display: none; }
.loader .l_arrows { z-index: 2; width: 76px; height: 76px; background-position: 0px 0px; left: 57px; top: 1px; display: none; }
.loader .content { position: relative; z-index: 1; padding-top: 10px; font-size: 16px; color: #808080; text-align: center;}





.direction_option .direction_item {
    position: relative;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
}
.direction_option .direction_price {
    white-space: nowrap;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 2;
    font-size: 12px;
    color: #8D8D8D;
    line-height: 25px;
}

.sm_popup {
    bottom: auto;
    width: 316px;
    padding-bottom: 12px;
    color: #FFF;
    background: url(../i/star_big_popup-angle.png) no-repeat bottom left;
    z-index: 140;
}
.sm_popup_inn table.starTbl th {
  width: 70px;
  padding: 0 12px 7px 0;
  border: none;
}


.infoBlock {
  background: url(../i/infoBlockArr.png) no-repeat bottom left;
  padding-bottom: 12px;
  display: none;
  position: absolute;
  z-index: 30;
  bottom: auto;
  left: -18px;
  width: 316px;
  font-size: 13px;
}
.infoBlock .infoBlockArr {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.infoBlock time {
  background: #eaeaea;
  color: #414141;
  display: block;
  line-height: 38px;
  font-size: 1em;
  padding-left: 40px;
}
.infoBlock .infoBlockFoot {
  color: #868686;
  height: 35px;
  padding-top: 15px;
  padding-left: 35px;
  background: #313131;
}
.infoBlock .infoBlockFoot span {
  color: #f2f2f4;
  font-size: 24px;
}
.infoBlock .infoBlockInn {
  padding-left: 35px;
  color: #ffffff;
  background-color: #464646;
  background-image: -moz-linear-gradient(top, #5a5a5a, #272727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#272727));
  background-image: -webkit-linear-gradient(top, #5a5a5a, #272727);
  background-image: -o-linear-gradient(top, #5a5a5a, #272727);
  background-image: linear-gradient(to bottom, #5a5a5a, #272727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a5a5a', endColorstr='#ff272727', GradientType=0);
  padding-bottom: 5px;
}
.infoBlock .infoBlockInn h3 {
  margin: 0;
  color: #ffffff;
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2.5em;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.infoBlock .infoBlockInn p {
  margin: 0;
  color: #f2f2f4;
  padding-bottom: 5px;
}
.infoBlock .infoBlockInn .onmap {
  padding-left: 15px;
  background: url(../i/onmap-bg.png) no-repeat top left;
}
.infoBlock .infoBlockInn .onmap a {
  color: inherit;
  text-decoration: none;
}
.infoBlock .infoBlockInn .temp {
  margin: 0;
  font-size: 80px;
  line-height: 1em;
  margin-right: 25px;
  padding-right: 105px;
}

.infoBlock .infoBlockInn .temp.icon_temperature_positive{
  background: url(../i/tempSunShyne.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.icon_temperature_negative{
  background: url(../i/tempRain.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.snow {
  background: url(../i/tempSnow.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.light {
  background: url(../i/tempLight.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.sun {
  background: url(../i/tempSun.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.cloud {
  background: url(../i/tempCloud.png) no-repeat right top;
}
.infoBlock .infoBlockInn .temp.rain {
  background: url(../i/tempRain.png) no-repeat right top;
}
.infoBlock .infoBlockInn .phone {
  color: #008cd4;
}



.PriceButtonWrapper .additionalText{
    display: none;
}

.multivariants .simpleVariants .PriceButtonWrapper {
    z-index: 10;
}
.multivariants .simpleVariants .PriceButtonWrapper.hideButton {
    padding-top: 12px;
}
.multivariants .simpleVariants .PriceButtonWrapper.hideButton .price_button{
    display: none;
}

.modal#modalVariants .modal-header .head a .selected {
    color: #262626;
    cursor: default;
}

.modal {
    position: absolute;
}

div.popup {
    display: block;
}


div#layout_panels {
    color: #585858;
}



.miniTickets_Fix .FilterResult{
    margin-top: 32px;
}
.miniTickets_Fix .FilterResult ul li {
    display: inline-block;
    vertical-align: top;
}

section .mainSearch .well {
    width: 798px;
}


.dynamics {
    z-index: 50;
}


a.labelDynamics.disabled {
    background: url(../i/labelDynamics1_dis.png) no-repeat top;
    cursor: context-menu;
}


.dynamics .dynTo .navbar.dynDateGraph li.selected a, .dynamics .dynFrom .navbar.dynDateGraph li.selected a {
    background: #F76636;
}


div.calendar{
    top: auto !important;
    margin: 21px 0 0 0;
    z-index: 70;
    display: block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
}


.FlightsByAKBlock{
    z-index: 99;
    margin-left: 25px;
    display: none;
}
.multivariants .akPlate .pf_light_speck {
    background: none;
}

.multivariants .akPlate .logo {
    background: none;
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index: 1;
}


#popup_passengerSelect {
    margin: 10px 100px 50px !important;
    z-index: 99;
}


.shading{
    background: #000;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
}



a.labelDynamics {
    line-height: 33px;
}

.selectors .btn {
    font-family: arial;
}

.selectors label {
    margin-right: 4px;
}

.ticket .akPlate {
    background: url(/i/modalVarHeadBg.jpg) #008cd4 no-repeat scroll right -20px;
}

.radioArea, .radioAreaChecked {
    margin-right: 0px;
    cursor: pointer;
}

.multivariants table tr td {
    width: 350px;
}


#fadeBlock, .shading { 
    z-index: 76; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: black; 
    opacity: 0.4; 
    filter: alpha(opacity=40); 
}

.multivariants .opt4 {
    width: 100px !important;
}
.multivariants .simpleVariants .variant_direction {
    width: 440px !important;
}

.close_button {
background: url("../i/close_button.png") no-repeat;
cursor: pointer;
width: 13px;
height: 13px;
position: absolute;
right: -12px;
top: -12px;
z-index: 7;
}