.twiket #tw-layout_currency { margin: 1em 0; font-size: 110%; }
.twiket #tw-layout_currency ul { display: inline-block; }
.twiket #tw-layout_currency li { display: inline-block; font-variant: small-caps; }
.twiket #tw-layout_currency .tw-selected { font-weight: bold; }
.twiket #tw-layout_currency li:before { content: '|'; display: inline-block; text-align: center; width: 1em; }
.twiket #tw-layout_currency li:first-child:before { display: none; }


.twiket #tw-layout_prefered { margin: 1em 0; }
.twiket #tw-layout_prefered>table { width: 100%; table-layout: fixed; }
.twiket #tw-layout_prefered>table>tbody>tr>td { padding-left: 5px; }
.twiket #tw-layout_prefered>table>tbody>tr>td:first-child { padding: 0 5px 0 0; }
.twiket #tw-layout_prefered .tw-body { padding: 10px; border: 1px solid;
	-webkit-border-radius: 0 5px 0 5px;
	   -moz-border-radius: 0 5px 0 5px;
			border-radius: 0 5px 0 5px;
}
.twiket #tw-layout_prefered .tw-name { font-size: 110%; font-weight: bold; margin-bottom: 10px; }
.twiket #tw-layout_prefered .tw-ak { font-size: 110%; margin: 10px 0; }
.twiket #tw-layout_prefered .tw-ak img { vertical-align: middle; margin-top: -0.2em; }
.twiket #tw-layout_prefered .tw-hr { height: 2px; padding: 10px 0; margin: 0 -10px; background: url('/twiket/img/dashes-h.png') repeat-x center; }
.twiket #tw-layout_prefered .tw-directionName { font-size: 80%; letter-spacing: 1.5px; color: #000000; margin-left: -1px; padding-bottom: 3px; }
.twiket #tw-layout_prefered .tw-date { text-transform: lowercase; }
.twiket #tw-layout_prefered .tw-body .tw-startTime { font-size: 110%; font-weight: bold; }
.twiket #tw-layout_prefered .tw-body table { width: 100%; }
.twiket #tw-layout_prefered .tw-body table td { text-align: right; white-space: nowrap; padding-left: 10px; }
.twiket #tw-layout_prefered .tw-body table td:first-child { text-align: left; white-space: normal; padding-left: 0; }
.twiket #tw-layout_prefered .tw-info { cursor: help; }
.twiket #tw-layout_prefered .tw-buttonRow { text-align: right; }


.twiket #tw-layout_matrix { margin: 1em 0; font-size: 93%; }
.twiket #tw-layout_matrix table td { text-align: center; padding: 5px; border: 1px solid; }
.twiket #tw-layout_matrix table td:first-child { border: none; padding: 0 0 0 11px; text-align: left; width: 7em; }
.twiket #tw-layout_matrix table td div.tw-link { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.twiket #tw-layout_matrix table td.tw-choose div { width: 45px; }
.twiket #tw-layout_matrix table td.tw-airline { font-size: 91%; text-align: center; }
.twiket #tw-layout_matrix .tw-airline .tw-link { width: 4.5em; text-align: center; }
.twiket #tw-layout_matrix img { vertical-align: middle; margin-top: 5px; }
.twiket #tw-layout_matrix table.tw-matrixCaption { width: 100%; }
.twiket #tw-layout_matrix table.tw-matrixCaption td { border: none; padding: 0 11px; padding-bottom: 5px; text-align: right; }
.twiket #tw-layout_matrix table.tw-matrixCaption td:first-child { text-align: left; width: auto; }
.twiket #tw-layout_matrix table.tw-matrixCaption td:first-child:before { content: ''; margin-left: 7em; }

.twiket #tw-layout_result { position: relative; }
.twiket.tw-tooltipStyle {
	position: absolute;
	overflow: hidden;
	z-index: 666;
	background-color: white;
	color: black;
	padding: 7px 10px;
	font-size: 100%;
	white-space: nowrap;
	-webkit-box-shadow: 0px 3px 15px black;
	   -moz-box-shadow: 0px 3px 15px black;
			box-shadow: 0px 3px 15px black;
}
.twiket .tw-searchResult { position: relative; }
.twiket .tw-searchResult .rowWrapper { position: relative; border-top: 1px solid #EBEBEB; }
.twiket .tw-searchResult .rowWrapper.tw-selected { z-index: 4; }
.twiket .tw-searchResult .rowItem { cursor: pointer; padding: 5px 0px; }
.twiket .tw-searchResult table { width: 100%; table-layout: fixed; }
.twiket .tw-searchResult table td { white-space: nowrap; }
.twiket .tw-searchResult table td:first-child { padding-left: 10px; }
.twiket .tw-searchResult table td:last-child { padding-right: 10px; }
.twiket .tw-searchResult table td.tw-departure { width: 4.5em; }
.twiket .tw-searchResult table td.tw-journey { width: 5.5em; }
.twiket .tw-searchResult table td.tw-arrival { width: 5.5em; }
.twiket .tw-searchResult table td.tw-ak { width: 11em; }
.twiket .tw-searchResult .dataFlights table td.tw-journey { color: #797979; }
.twiket .tw-searchResult .dataFlights table td.tw-ak { padding-top: 0.2em; }
.twiket .tw-searchResult table td.tw-route { overflow: hidden; text-overflow: ellipsis; }
.twiket .tw-searchResult table td.tw-price { width: 9em; text-align: right; padding-right: 10px; }
.twiket .tw-searchResult table td.tw-colDate { width: 6em; font-size: 90%; text-align: right; padding-right: 10px; }
.twiket .tw-searchResult .tw-head table td.tw-price span { margin-left: -100%; }
.twiket .tw-searchResult .ib { position: relative; display: inline-block; //display: inline; }
.twiket .tw-searchResult .tw-head { background-color: #F5F5F5; padding: 7px 0; }
.twiket .tw-searchResult .tw-head span { cursor: pointer; }
.twiket .tw-searchResult .tw-head .tw-selected { cursor: default; color: black; }
.twiket .tw-searchResult .tw-journey .arrow {
	width: 42px; text-align: center;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAGCAYAAAC1rQwWAAAAK0lEQVR42mNgGAUUA2kg5h4KDmUG4kAg1oMJ6AKx8SDGxUDsN6RCdEikUQD8FAoERuWJEAAAAABJRU5ErkJggg==") no-repeat center;
}
.twiket .tw-searchResult .tw-journey .arrow div { padding: 0 1px; background-color: white; display: inline-block; //display: inline; }
.twiket .tw-searchResult table td.tw-ak div { position: relative; }
.twiket .tw-searchResult table td.tw-ak div img { position: absolute; left: -2px; top: -50%; bottom: -50%; margin: auto; }
.twiket .tw-searchResult table td.tw-ak div div { padding-left: 30px; overflow: hidden; text-overflow: ellipsis; }
.twiket .tw-searchResult .TripBlock { border: 2px solid #CECECE; margin-top: -1px; }
.twiket .tw-searchResult .tw-selectedTrip { margin-bottom: 0.2em; }
.twiket .tw-searchResult .tw-selectedTrip .tw-additional { color: #797979; font-size: 85%; }
.twiket .tw-searchResult .tw-selectedTrip .tw-additional .tw-subAK, .twiket .tw-searchResult .tw-selectedTrip .tw-boardChange { padding-left: 30px; }

.twiket .tw-searchResult .avl { cursor: pointer; }
.twiket .tw-searchResult .tw-price .tw-button {
	padding-left: 5px; padding-right: 5px;
	margin: -3px -6px -3px 0;
	background: none;
	border-color: transparent;
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
.twiket .tw-searchResult .tw-price .tw-button .tw-amt { font-size: 110%; font-weight: bold; }
.twiket .tw-searchResult .tw-price .tw-button .tw-count { /*color: #797979;*/ font-size: 90%; }
.twiket .tw-searchResult .avl:hover .tw-price .tw-button span { color: white; }
.twiket .tw-searchResult .avl:hover .tw-price .tw-button {
	border-color: #3079ED;
	background: #4D90FE;
	background: -webkit-linear-gradient(top , #4D90FE, #4787ED);
	background:    -moz-linear-gradient(top , #4D90FE, #4787ED);
	background:     -ms-linear-gradient(top , #4D90FE, #4787ED);
	background:      -o-linear-gradient(top , #4D90FE, #4787ED);
	background:         linear-gradient(top , #4D90FE, #4787ED);
}
.twiket .tw-searchResult .avl:hover .tw-price .tw-button .tw-dashed { border: none; }
.twiket .tw-searchResult .avl:hover .tw-price .tw-button:hover {
	background: #357AE8;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background:    -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: 	-ms-linear-gradient(top, #4D90FE, #357AE8);
	background: 	 -o-linear-gradient(top, #4D90FE, #357AE8);
	background: 		linear-gradient(top, #4D90FE, #357AE8);
}

.twiket table.tw-routeHeaderLayout { table-layout: auto; }
.twiket table.tw-routeHeaderLayout td:first-child { padding-left: 0; }
.twiket table.tw-routeHeaderLayout td:last-child { text-align: right; padding: 0 0 0 10px; }
.twiket .tw-searchResult .tw-routeHeader { font-size: 140%; padding: 0.8em 0 0.5em; }
.twiket .tw-searchResult .tw-routeHeader .tw-date { text-transform: lowercase; }
.twiket .tw-searchResult .tw-chooseHint { background: #FFED00; padding: 0.3em 5px; margin-bottom: 10px; }
.twiket .tw-searchResult .secondRoute .tw-chooseHint { margin-left: 5px; }
.twiket .tw-searchResult .secondRoute .tw-routeHeader { padding-left: 10px; }
.twiket .tw-searchResult .secondRoute { position: relative; }
.twiket .tw-searchResult .tw-tripsCount { position: absolute; right: 10px; top: 1.7em; color: #797979; font-size: 90%; }
.twiket #tw-layout_prefered .tw-buttonPrice { font-size: 110%; font-weight: bold; color: white; background: #D14836; border-color: #D14836; }

.twiket #tw-layout_ticket .tw-searchResult .rowItem  { cursor: default; }

.twiket #tw-layout_farerules { font-size: 110%; margin: 1em 0; }
